What is muslims lifestyle ?
How do they practice it ?
What is the importance of it ?
What impact does it have on the community?

1- Muslims lifestyle :-
   Islam contains many rules for daily life and human relationships. The first source of these rules is the Quran and the second is the hadith or reports of the prophet Muhammad's words or actions.
•	Prohibitions: In Islam, everything considered harmful either to the body, mind, soul or society is prohibited (haram), while whatever is beneficial is permissible (halal). Islam prohibits Muslimsfrom consuming pork, alcohol or mind-altering drugs. Muslims are required to eat meat that is butchered and blessed in an Islamic way. This meat is called "halal." Muslims are also prohibited from gambling, taking interest, fortune-telling, killing, lying, stealing, cheating, oppressing or abusing others, being greedy or stingy, engaging in sex outside of marriage, disrespecting parents, and mistreating relatives, orphans or neighbors.
•	Role of clergy: There is no hierarchy of clergy in Islam, nor do Muslim religious leaders have the power to forgive people of their sins. Every individual has a direct relationship with God without any intermediary. There are religious leaders or scholars, called ulema, who have studied and are experts in different aspects of Islam, such as Sharia, hadith, or Quranic recitation. It is also important to note that there is not one Islamic authority; so there are differences among Muslim scholars.
•	Conversion to Islam: Muslims are encouraged to share their faith with others. However, Muslims are told not to attack others' beliefs or engage in conflicts or debates about matters of religion. There is no formal ceremony for conversion. People must merely believe in and recite the shahada to convert to Islam.
